[user]
	name = Patrick Gatewood
	signingkey = 478298072107B03B
        email = patrick@patrickgatewood.com

[core]
	excludesfile = /Users/PatrickGatewood/.gitignore_global
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/patrickgatewood/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[rerere]
	enabled = true
[push]
	default = current
[commit]
	gpgsign = true
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[gpg]
	program = gpg
